* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}


/*--------------------------*/
/* HEADER */
/*-------------------------*/

.header {
    height: 88px;
    width: 100vw;
    padding: 0 8vw;
    background-color: white;
    position: fixed;
    display: flex;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
}

.header--container {
    width: 1157px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*------- NAVIGATION --------*/

.nav__list {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: #444444;
    margin-left: 5vw;
}

.nav__link__red:hover {
    color: red;
}

.nav__link__blue:hover {
    color: blue;
}

.nav__link__yellow:hover {
    color: rgb(255, 232, 21);
}

.nav__link__green:hover {
    color: green;
}


/*--------------------------*/
/* MAIN SECTION  */
/*-------------------------*/

.main__wrapper {
    background-color: #929292;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------- INTRODUCTION --------*/

.intro__container {
    max-width: 466px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 26vh;
}

.intro__title {
    color: white;
    font-size: 64px;
    font-weight: 400;
}

.intro__paragraph {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.intro__button {
    width: 186px;
    height: 39px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #878787;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    transition: .2s;
}

.intro__button:hover {
    cursor: pointer;
    background-color: #929292;
    box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.2);
}


/*------- CARDS --------*/

.bottom-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: white;
    align-items: center; 
}

.cards {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 120px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 224px;
    height: 278px;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.card__title {
    font-weight: 500;
    font-size: 24px;
}

.card__paragraph {
    font-size: 14px;
    text-align: center;
}